
services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
      - chromadb_data:/app/chromadb_data
    environment:
      - GROQ_API_KEY=${GROQ_API_KEY}
      - DATABASE_URL=sqlite:///./files.db

  frontend:
      build: ./frontend
      container_name: frontend
      ports:
        - "3000:3000"
      volumes:
        - ./frontend:/app:cached
        - frontend_node_modules:/app/node_modules
        - ./frontend/.env.local:/app/.env.local
      environment:
        - NEXT_PUBLIC_API_URL=http://localhost:8000
      command: ["npm", "run", "dev"]


volumes:
  chromadb_data:
  frontend_node_modules: